<style>
  {% include './basic.css' %}
</style>

<div class="parent">
  <p class="none">Диакритические знаки — различные надстрочные, подстрочные, реже внутристрочные знаки, применяемые не как самостоятельные обозначения звуков, а для изменения или уточнения значения других знаков.</p>
  <p class="underline">В типографике диакритические знаки это элементы письменности, модифицирующие начертание знаков и обычно набираемые отдельно.</p>
  <p class="line-through">Диакритическими знаками не могут считаться части букв, если у них нет определённой функции: например, диакритическим знаком не является зачёркивание в А и Ѳ.</p>
  <p class="overline">Черта сверху — типографический знак горизонтальной линии, нарисованной сразу над текстом. В математической нотации черта сверху долгое время используется для vinculum, объединения определённых символов. Также знак используется с римскими цифрами, показывая умножение цифры на тысячу.</p>
</div>
