<style>
  {% include './color.css' %}
</style>

<div class="parent">
  <p class="none">К диакритикам прибегают в случае, если букв алфавита не хватает для передачи звуков речи или же для смыслоразличения. Основной альтернативой диакритикам при звукоразличении служат сочетания двух (диграфы), трёх (триграфы) и более букв для обозначения одного звука.</p>
  <p class="underline dotted blue">Дополнение подчеркивается пунктирной линией. Это второстепенный член предложения, который обозначает предмет и отвечает на вопросы косвенных падежей: кого? чего? кому? чему? кого? что? кем? чем? о ком? о чём?</p>
  <p class="line-through double red">Эпанортозис (рус. поправление) — фигура речи: фигура, посредством которой какая-либо мысль сначала высказывается, а затем отменяется, для того чтобы высказать или эту же мысль точнее или полнее, или другую мысль.</p>
  <p class="overline wavy green">В большинстве языков тильда сверху соответствует знаку, произошедшему из букв N и V, которые в средневековой скорописи часто писались над строкой (над предыдущей буквой) и в начертании выродились в волнистую линию.</p>
</div>
