<style>
  {% include './header.css' %}
</style>

<header>
  <div class="container top">
    <nav>
      <ul class="navigation">
        <li class="navigation__item">
          <a href="#" class="navigation__link">О магазине</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Новости</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Акции</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Личный кабинет</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <h1>Магазин «лето»</h1>
  </div>
</header>
