<style>
  {% include './basic-w-text.css' %}
</style>

<div class="container">
  <div class="item">О́хос-дель-Сала́до (исп. Ojos del Salado) — высочайший вулкан на Земле и вторая по высоте вершина Южной Америки — после горы Аконкагуа. Расположен на границе между Аргентиной и Чили, высшая точка Чили. Высота составляет 6893 метра. К западу от вулкана и до побережья Тихого океана простирается пустыня Атакама. На восточном склоне в кратере вулкана расположено самое высокое в мире озеро на высоте 6390 метров.</div>
</div>
