@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 150px;
  padding: 25px;
  background-color: #1a5ad7;
}

.item {
  box-sizing: border-box;
  padding: 25px;
  margin: 0 10px;
  color: #1a5ad7;
  background-color: #ffffff;
}
