<style>
  {% include './min-height-padding-w-text.css' %}
</style>

<div class="container">
  <div class="item">Вулкан был покорён в 1937 году польскими альпинистами Юстином Войжнисом и Яном Щепаньским. На пути к вершине исследователями были обнаружены следы жертвенных алтарей инков. По всей видимости, вулкан Охос-дель-Саладо почитался индейцами как священная гора. 21 апреля 2007 года чилийский спортсмен Гонсало Браво сумел на модифицированной Судзуки Самурай (Suzuki SJ) подняться по склону Охос-дель-Саладо на высоту 6688 метров, поставив таким образом мировой рекорд подъёма для автомобилей.</div>
</div>
