<style>
  {% include './no-height.css' %}
</style>

<div class="container">
  <div class="item">С испанского языка название переводится как «истоки солёной реки», то есть реки Рио-Саладо, начинающейся на горе.</div>
</div>
