<style>
  {% include './padding-w-text.css' %}
</style>

<div class="container">
  <div class="item">Вулкан Охос-дель-Саладо считается потухшим, так как на протяжении всей истории наблюдений за ним не было зарегистрировано ни одного извержения. Однако изредка пассивная вулканическая деятельность всё же замечалась. Так, в 1937, 1956 и 1993 году имели место незначительные выбросы серы и водяного пара.</div>
</div>
