@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5%;
  margin: 0;
  background-color: #f498ad;
  text-align: center;
}

.btn {
  padding: 25px 35px;
  border: none;
  color: #282a2e;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: -15px 15px 0px 0px #ed6742;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
