<style>
  {% include './only.css' %}
</style>

<h2>Дни недели в немецком языке</h2>
<ul>
  <li><span>der Montag</span> — понедельник</li>
  <li><span>der Dienstag</span> — вторник</li>
  <li><span>der Mittwoch</span> — среда</li>
  <li><span>der Donnerstag</span> — четверг</li>
  <li><span>der Freitag</span> — пятница</li>
  <li><span>der Sonnabend</span> — суббота</li>
  <li><span>der Sonntag</span> — воскресенье</li>
</ul>

<h2>Единственный день, в названии которого нет слова «день»</h2>
<ul>
  <li><span>der Mittwoch</span> — среда</li>
</ul>
