<style>
  {% include './every.css' %}
</style>

<p>Оригинальная картинка</p>
<img src="/assets/images/posts/object-fit/landscape.jpg" alt="" class="img original">
<p>fill</p>
<img src="/assets/images/posts/object-fit/landscape.jpg" alt="" class="img fill">
<p>contain</p>
<img src="/assets/images/posts/object-fit/landscape.jpg" alt="" class="img contain">
<p>cover</p>
<img src="/assets/images/posts/object-fit/landscape.jpg" alt="" class="img cover">
<p>none</p>
<img src="/assets/images/posts/object-fit/landscape.jpg" alt="" class="img none">
<p>scale-down</p>
<img src="/assets/images/posts/object-fit/landscape.jpg" alt="" class="img scale-down">
