<style>
  {% include './menu.css' %}
</style>

<div class="element">
  <a href="#" class="logo">
    <img src="/assets/images/posts/text-transform/logo.png" alt="Company logo">
  </a>
  <nav class="menu">
    <ul class="menu-list">
      <li class="menu-list__item">
        <a href="#" class="menu-list__link">Главная</a>
      </li>
      <li class="menu-list__item">
        <a href="#" class="menu-list__link">О компании</a>
      </li>
      <li class="menu-list__item">
        <a href="#" class="menu-list__link">Проекты</a>
      </li>
      <li class="menu-list__item">
        <a href="#" class="menu-list__link">Контакты</a>
      </li>
    </ul>
  </nav>
</div>
