<style>
  {% include './uppercase.css' %}
</style>

<p class="abbreviation">вниоптусх</p>
<p class="meaning">Всероссийский научно-исследовательский институт организации производства, труда и управления в сельском хозяйстве</p>
