body {
  margin: 0;
}

.element {
  height: 100vh;
  background-color: #f1f1f1;
  background-image: url("/assets/images/posts/background-size/landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
