@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5%;
  background-color: #064236;
  font-family: "Roboto", sans-serif;
}

article {
  background-color: #ffffff;
  color: #064236;
  padding: 60px 50px;
}

.visibility-hidden {
  visibility: hidden;
}
