<style>
  {% include './index.css' %}
</style>

<article>
  <p class="visibility-visible">Эрнесту Хемингуэю приписывают авторство самого короткого рассказа:  «Продаются детские ботиночки. Неношеные». Говорят, он написал его экспромтом, на спор.</p>
  <p class="visibility-hidden">Многие писатели упражнялись в жанре сверхмалой прозы. Фредерику Брауну принадлежит самая короткая история ужасов: «Последний человек на Земле сидел в комнате. В дверь постучались…»</p>
  <p class="visibility-visible">В этом жанре можно написать и автобиографию. Одна француженка написала о своей жизни так: «Раньше у меня было гладкое лицо и мятая юбка, а теперь — наоборот».</p>
</article>
