<style>
  {% include './every.css' %}
</style>

<p>Планеты внутренней группы:</p>
<div class="parent">
  <div>
    <p class="code">list-style-image:<br>none</p>
    <ul class="none">
      <li>Меркурий</li>
      <li>Венера</li>
      <li>Земля</li>
      <li>Марс</li>
    </ul>
  </div>
  <div>
    <p class="code">list-style-image:<br>url(...)</p>
    <ul class="url">
      <li>Меркурий</li>
      <li>Венера</li>
      <li>Земля</li>
      <li>Марс</li>
    </ul>
  </div>
  <div>
    <p class="code">list-style-image:<br>url(...)</p>
    <ul class="url2">
      <li>Меркурий</li>
      <li>Венера</li>
      <li>Земля</li>
      <li>Марс</li>
    </ul>
  </div>
</div>
