<style>
  {% include './transition.css' %}
</style>

<div class="parent">
  <div>
    <p>Наведите на пункт:</p>
    <ul class="url">
      <li>Меркурий</li>
      <li>Венера</li>
      <li>Земля</li>
      <li>Марс</li>
    </ul>
  </div>
</div>
