<style>
  {% include './no-padding.css' %}
</style>

<div class="parent">
	<p class="content">Предполагается, что поля в книгах нужны для защиты информации. Когда книги начали писать на пергаменте, возникла угроза — мыши. Поскольку пергамент изготавливался из натуральной кожи, грызуны вполне могли съесть всю книгу целиком. Но начинали они всегда краёв, а значит, был шанс успеть спасти информацию.</p>
</div>
