<style>
  {% include './counter.css' %}
</style>

<section>
  <h2>Внутренний механизм</h2>
  <p>Механизм счётчика состоит из:</p>
  <ul>
    <li>кнопки;</li>
    <li>пронумерованных кругов;</li>
    <li>колеса прокрутки;</li>
  </ul>

</section>
<section>
  <h2>Принцип действия</h2>
  <p>Принцип действия счётчика — простой шестерёночный механизм. При нажатии на кнопку (в случае с кнопкой) толкается шестерёнка, она в свою очередь прокручивает шестерёнку, которая закреплена на оси с пронумерованными дисками, первый (обычно справа) диск прокручивается на одну единицу, равную единице измерения. Как только период из 9 единиц доходит до 9 и переходит на 0 единицу, переключается на одну единицу второй диск (обычно слева от первого), и так далее.</p>
</section>
<section>
  <h2>См. также</h2>
  <ul>
    <li>Механический счётчик</li>
    <li>Электронный счетчик импульсов</li>
  </ul>
</section>
