<style>
  {% include './list.css' %}
</style>

<h2>Наши преимущества:</h2>
<ul class="benefits">
  <li class="benefits-item">Низкие цены</li>
  <li class="benefits-item">Большая база поставщиков</li>
  <li class="benefits-item">Быстрая доставка</li>
</ul>
