@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5%;
  background-color: #18191c;
  color: #e6e6e6;
  text-align: center;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

[data-tip] {
  position: relative;
  border-bottom: 2px solid #1a5ad7;
  cursor: help;
}

[data-tip]:hover::after {
  opacity: 1;
  visibility: visible;
}

[data-tip]::after {
  content: attr(data-tip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background-color: #1a5ad7;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  font-size: 0.8em;
}
