<style>
  {% include './index.css' %}
</style>

<p>Планеты внутренней группы:</p>
<div class="parent">
  <div>
    <p class="code">list-style-position: inside</p>
    <ul class="inside">
      <li>Меркурий</li>
      <li>Венера</li>
      <li>Земля</li>
      <li>Марс</li>
    </ul>
  </div>
  <div>
    <p class="code">list-style-position: outside</p>
    <ul class="outside">
      <li>Меркурий</li>
      <li>Венера</li>
      <li>Земля</li>
      <li>Марс</li>
    </ul>
  </div>
</div>
