<style>
  {% include './basic.css' %}
</style>

<ol>
  <li>Доктор Дум</li>
  <li>Существо</li>
  <li>Сью Сторм</li>
  <li>Человек-факел</li>
</ol>

<ul>
  <li>Хлеб</li>
  <li>Яйца</li>
  <li>Молоко</li>
  <li>Масло</li>
</ul>
