@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&amp;display=swap");

* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  padding: 5%;
  background-color: #18191c;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  font-size: 20px;
  font-weight: 300;
}

ol {
  color: #49a16c;
}

ul {
  margin-left: 100px;
  color: #ed6742;
}

li + li {
  margin-top: 15px;
}
